aioredis
amqp
apns
asgiref
async-generator
async-timeout
attrs
autobahn
Automat
autopep8
backcall
billiard
CacheControl
cachetools
celery
certifi
cffi
channels
channels-redis
charset-normalizer
chatbotAI
ChatterBot
chatterbot-corpus
click
click-didyoumean
click-plugins
click-repl
cloudinary
colorama
constantly
coreapi
coreschema
cryptography
CurrencyConverter
daphne
debugpy
decorator
defusedxml
Django
django-cors-headers
django-filter
django-model-utils
django-notifications-hq
django-push-notifications
django-rest-framework
django-rest-knox
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djongo
djoser
docker
entrypoints
firebase-admin
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-currency
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
h11
hiredis
httplib2
hyperlink
idna
incremental
ipykernel
ipython
itypes
jedi
Jinja2
joblib
jsonfield
jupyter-client
jupyter-core
kombu
MarkupSafe
mathparse
matplotlib-inline
msgpack
# mysql-connector-python
# mysqlclient
nest-asyncio
nltk
notifications
oauthlib
outcome
packaging
parso
pickleshare
Pillow
Pint
prompt-toolkit
proto-plus
protobuf
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyfcm
Pygments
PyJWT
pymongo
PyMySQL
pyodbc
pyOpenSSL
pyparsing
# pypiwin32
python-dateutil
python3-openid
pytz
# pywin32
PyYAML
pyzmq
razorpay
redis
regex
requests
requests-oauthlib
rsa
selenium
service-identity
six
sniffio
social-auth-app-django
social-auth-core
sortedcontainers
SQLAlchemy
sqlparse
swapper
toml
tornado
tqdm
traitlets
trio
trio-websocket
twilio
Twisted
twisted-iocpsupport
txaio
typing-extensions
tzdata
uritemplate
urllib3
uvicorn
vine
wcwidth
websocket-client
websockets
# win10toast
wsproto
zope.interface
